.navbar ul li{
    display: inline;
    vertical-align: middle;
}
/* .navbar ul li:nth-last-child(2){
    margin: 10%;
} */
.navbar ul li:nth-last-child(3){
    padding-left: 5%;
}
.navbar ul li:nth-last-child(4){
    padding-left: 5%;
}
.navbar ul li:nth-last-child(5){
    padding-left: 5%;
}
.navbar ul li:nth-last-child(6){
    padding-left: 5%;
}
.navbar ul li:nth-last-child(7){
    padding-left: 5%;
} 
.navbar ul li:nth-last-child(8){
    padding-left: 5%;
} 
/* .navbar ul li:nth-last-child(9){
    padding-left: 5%;
} */
.navbar ul li button {
  border-color: red;
border-radius: 100ch;
color: red;
    /* background-color: red; */
}


